/.vs
/Client/.vs
/ipch
/Debug
*.exe
*.ilk
*.pdb
*.obj
*.log
*.pch
*.idb
*.tlog
*.lastbuildstate
*.suo
*.db
*.ipch
*.res
Server/.vs/CAServer/v16/Browse.VC.db-shm
Server/.vs/CAServer/v16/Browse.VC.db-wal
Client/CAClient/Debug/gamescene.obj.enc
